//luckiest字体
@font-face {
    font-family: "Luckiest Guy";
    src: url("../assets/LuckiestGuy.ttf") format("truetype");
}

$background_color: rgb(190, 215, 255);
$menu_width: 5%;
$tab_height: 8%;
$menu_background_color: rgba(207, 224, 228, 0.5);
$main_background_color: rgba(241, 241, 241, 0.5);
